{% include header.html %}
    <main class="main" id="inicio">

      <section class="hero">
        <h1 class="hero__title">Sherlock Holmes</h1>
        <p class="hero__subtitle">El detective que convirtió la lógica en un arte</p>
      </section>
  
      <section class="section section--intro">
        <h2 class="section__title">1. Sherlock Holmes “murió”… y los fans protestaron</h2>
        <p class="section__text">
            En El problema final (1893), Conan Doyle mata a Holmes en las cataratas de Reichenbach.
            La reacción fue tan violenta que:
                    
            Los lectores usaron brazaletes negros de luto
                    
            Las ventas de la revista cayeron
            ➡️ El autor se vio obligado a revivirlo años después.
        </p>
        <br>
        <br>
        <h2 class="section__title">2. Holmes es más famoso que su autor</h2>
        <p class="section__text">
            Sherlock Holmes aparece en:

            Más de 300 películas

            Series, mangas, videojuegos y anime

            Es uno de los personajes más adaptados de la historia

            Incluso hay personas que creyeron que fue real y escribían cartas al 221B Baker Street.
        </p>
        <br>
        <br>
        <h2 class="section__title">3. No decía tanto “Elemental, mi querido Watson”</h2>
        <p class="section__text">
            La frase:

            “Elemental, my dear Watson”
            NO aparece así en los libros originales.

            Es una construcción posterior del cine, aunque sí dice “elemental” y “mi querido Watson” por separado.
        </p>
        <br>
        <br>
        <h2 class="section__title">4. Holmes tenía adicciones</h2>
        <p class="section__text">
            Cuando no tenía casos interesantes:

            Consumía cocaína al 7%
            
            También morfina
            Esto refleja una crítica social de la época y su adicción al estímulo intelectual.
        </p>
        <br>
        <br>
      </section>

      <div class="image-section">
        <img 
          src="Captura.JPG" 
          alt="Sherlock Holmes"
          class="image-section__img"
        >
      </div>
  
    </main>

{% include footer.html %}
