---
---
{% include header.html %}
    <main class="main" id="inicio">

      <section class="hero">
        <h1 class="hero__title">Sherlock Holmes</h1>
        <p class="hero__subtitle">El detective que convirtió la lógica en un arte</p>
      </section>
  
      <section class="section section--intro">
        <h2 class="section__title">Habilidades y rasgos más destacados</h2>
        <p class="section__text">
            <span style="font-weight: bold;">Observación extrema:</span> Holmes puede deducir la profesión, hábitos o pasado de una persona con solo verla unos segundos.
        </p>
        <p class="section__text">
            <span style="font-weight: bold;">Conocimientos selectivos:</span>
            <li>
                <ul>-Experto en química, anatomía, botánica, geografía criminal</ul>
                <ul>-Ignora deliberadamente cosas que no le sirven (como que la Tierra gira alrededor del Sol)</ul>
            </li>
        </p>
        <p class="section__text">
            <span style="font-weight: bold;">Maestro del disfraz:</span> Se transforma en mendigos, ancianos o marineros para pasar desapercibido.
        </p>
        <p class="section__text">
            <span style="font-weight: bold;">Boxeador y esgrimista:</span> Practica bartitsu, un arte marcial real del Londres victoriano.
        </p>
        <p class="section__text">
            <span style="font-weight: bold;">Músico:</span> Toca el violín cuando piensa o se aburre.
        </p>
      </section>

      <div class="image-section">
        <img 
          src="sherck.jpg" 
          alt="Sherlock Holmes"
          class="image-section__img"
        >
      </div>
  
    </main>


{% include footer.html %}