<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-06JS8WZWDX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-06JS8WZWDX');
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:V</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav class="nav">
          <div class="logo">Sherlock Holmes</div>
      
          <div class="hamburger" onclick="toggleMenu()">☰</div>
      
          <div class="menu" id="menu">
            <a href="reseña.html">Reseña</a>
            <a href="habilidades.html">Habilidades</a>
            <a href="index.html">Datos Curiosos</a>
          </div>
        </nav>
    </header>
