<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:V</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav class="nav">
          <div class="logo">Sherlock Holmes</div>
      
          <div class="hamburger" onclick="toggleMenu()">☰</div>
      
          <div class="menu" id="menu">
            <a href="reseña.html">Reseña</a>
            <a href="habilidades.html">Habilidades</a>
            <a href="datoscuriosos.html">Datos Curiosos</a>
          </div>
        </nav>
    </header>